<%- layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br><br>
                <h2>create a new listings </h2>
                <form action="/listings" method="post" novalidate class="needs-validation">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input name="listing[title]" type="text" placeholder="Add a catchy title" class="form-control" required>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" class="form-control" placeholder="Enter description" required></textarea>
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input name="listing[image]" type="text" placeholder="Image URL" class="form-control">
  </div>

  <div class="row">
    <div class="mb-3 col-md-4">
      <label for="price" class="form-label">Price</label>
      <input name="listing[price]" type="number" placeholder="1200" class="form-control" required>
    </div>
    <div class="mb-3 col-md-8">
      <label for="country" class="form-label">Country</label>
      <input name="listing[country]" type="text" placeholder="India" class="form-control" required>
    </div>
  </div>

  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input name="listing[location]" type="text" placeholder="Jaipur, Rajasthan" class="form-control" required>
  </div>

  <button class="btn btn-dark add-btn">Add</button>
</form>

            </div>
        </div>
    </body>